<% layout("/layouts/boilerplate") %>

<div class="row" mt-5>
    <div class="alert alert-danger col-6 offset" role="alert">
        <!-- <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg> -->
        <!-- <h4 class="alert-heading"><%= message %></h4> -->
        <!-- <h4 class="alert-heading"><%= message || "Something went wrong!" %></h4> -->
        <h4 class="alert-heading"><%= typeof message !== "undefined" ? message : "Message not received in template" %></h4>

    </div>
</div>

